@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("media/bg2.png");
    background-size: fill;
    --title-load-time: 800ms;
    overflow: hidden;
}

#text {
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 12em;
    line-height: 0.9em;
    letter-spacing: 2px;
    text-align: center;
}

#text2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    font-size: 2em;
    line-height: 0.9em;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 150px;
}

.btn {
    position: relative;
    display: block;
    color: white !important;
    font-size: 20px !important;
    text-decoration: none;
    margin: 30px 0 !important;
    border: 2px solid #ffffff !important;
    padding: 14px 50px !important;
    text-transform: uppercase;
    overflow: hidden;
    transform: 1s all ease !important;
}

.btn::before {
    background: #ffffff !important;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.6s ease;
}

.btn1::before {
    width: 0;
    height: 100%;
}

.btn1:hover {
    color: rgb(0, 0, 0) !important;
}

.btn:hover::before {
    width: 100%;
}



@media (max-width: 800px) {
    #text {
        font-weight: 500;
        font-size: 7em;
    }

    #text2 {
        font-weight: 500;
        font-size: 1.5em;
    }
}

.loading-screen{

    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background-color: gray;
    width: 0%;
    height: 100%;

}

.load-container{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
}

.container1{

    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}

.container1 .card1{

    position: relative;
    height: 250px;
    background: #fff;
    display: flex;
    width: 45%;
    margin: 30px 0;
}

.container1 .card1 .imgBx{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    z-index: 1;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    overflow: hidden;
    transition: 0.5s ease-in-out;

}

.container1 .card1:hover .imgBx{

    width: 150px;
    height: 150px;
    left: -75px;
    top: calc(50% - 75px);
    transition: 0.5s ease-in-out;
    background: #7a89c0;
}

.container1 .card1 .imgBx:before{

    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 6em;
    color: rgba(0, 0, 0, 0.151);
    font-weight: 700;
}

.container1 .card1 .imgBx img{

    max-width: 100px;
    margin-top: 50px;
    transition: 0.5s ease-in-out;
}

.container1 .card1:hover .imgBx img{

    max-width: 75px;
}

.container1 .card1 .content1{

    position: absolute;
    right: 0;
    width: 85%;
    height: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    
}

.container1 .card1 .content1 p {
    color: black;
}

.container1 .card1 .content1 h3{

    margin-bottom: 5px;
    font-size: 24px;
    color: black;
}

.container1 .card1 .content1 a{

    display: inline-block !important;
    margin-top: 10px !important;
    padding: 5px 10px;
    background: #7a89c0;
    text-decoration: none;
    color: #fff;
}


@media (max-width: 992px){

    .container1{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .container1 .card1 {
        width: 400px;
    }
}

@media (max-width: 768px){


    .container1 .card1 {
        max-width: 300px;
        flex-direction: column;
        height: auto;
    }

    .container1 .card1 .imgBx{
        position: relative;
        width: 100%;
        height: 200px;
        left: 0;
        color: rgba(0, 0, 0, 0);
    }

    .container1 .card1:hover .imgBx{
        width: 100%;
        height: 200px;
        left: 0;
    }

    .container1 .card1 .content .imgBx img {
        max-width: 100px;
    }

    .container1 .card1 .content1{
        position: relative;
        width: 100%;

    }
}

