@import url('https://fonts.googleapis.com/css2?family=Recursive:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
    margin: 0;
    padding: 0;
    font-family: 'Recursive', sans-serif;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("media/bg2.png");
    background-size: fill;
    --title-load-time: 800ms;
    overflow-x: hidden;
    overflow-y: visible;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar{
    display: none;
}

#text {
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 11em;
    line-height: 0.9em;
    letter-spacing: 2px;
    text-align: left;
    margin-right: 140px;
}

.logo{
    border-radius: 50%;
    width: 400px;
}

#text2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    font-size: 3em;
    line-height: 0.9em;
    letter-spacing: 2px;
    text-align: left;
    margin-top: 150px;
    margin-bottom: 150px;
}

.tbn{
    position: relative;
    display: block;
    color: white;
    font-size: 20px;
    font-family: 'Recursive', sans-serif;
    text-decoration: none;
    margin: 30px 0;
    border: 2px solid white;
    padding: 14px 60px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
}

.tbn::before{
    background: white;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
}

.tbn1:hover{
    color: black;
}
.tbn1::before{
    width: 0;
    height: 100%;
}

.tbn1:hover::before{
    width: 100%;

}
.loading-screen{

    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background: url("media/bg1.png");
    width: 0%;
    height: 100%;
}

.load-container{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
}

.container1{

    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}

.container1 .card1{

    position: relative;
    height: 250px;
    background: #fff;
    display: flex;
    width: 45%;
    margin: 30px 0;
}

.container1 .card1 .imgBx{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    z-index: 1;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    overflow: hidden;
    transition: 0.5s ease-in-out;

}

.container1 .card1:hover .imgBx{

    width: 150px;
    height: 150px;
    left: -75px;
    top: calc(50% - 75px);
    transition: 0.5s ease-in-out;
    background: #7e93ee;
}

.container1 .card1 .imgBx:before{

    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 6em;
    color: rgba(0, 0, 0, 0.151);
    font-weight: 700;
}

.container1 .card1 .imgBx img{

    max-width: 100px;
    margin-top: 50px;
    transition: 0.5s ease-in-out;
}

.container1 .card1:hover .imgBx img{

    max-width: 75px;
}

.container1 .card1 .content1{

    position: absolute;
    right: 0;
    width: 85%;
    height: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    
}

.container1 .card1 .content1 p {
    color: black;
    margin-top: 20px;
}

.container1 .card1 .content1 h3{

    margin-bottom: 5px;
    font-size: 24px;
    color: black;
}

.container1 .card1 .content1 a{

    display: inline-block !important;
    margin-top: 10px !important;
    padding: 5px 10px;
    background: #7e93ee;
    text-decoration: none;
    color: #fff;
}

@media (max-height: 1080px){
    #text2 {
        
        margin-top: 100px;
        margin-bottom: 100px;
    }
}

@media (min-width: 1080px){
    .cnt1 {
        
        margin-left: 50px;
    }
}

@media (max-width: 992px){

    .container1{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .container1 .card1 {
        width: 400px;
    }
    .container1 .card1 .content1 p {
        margin-top: 0px;
    }

    nav{
        padding: 0 0 !important;
    }

    nav ul {
        width: 100% !important;
        top: 50px !important;
        display: none !important;
    }

    nav ul.active1{
        display: block !important;
    }

    nav ul li a {

        margin: 0 !important;
        display: block !important;
        text-align: center !important;
        color: white !important;
        background: rgba(0, 0, 0, 0.5) !important;
    }

    nav .toggle{
        right: 10px;
        display: block;
    }
}

@media (max-width: 800px) {
    #text {
        font-weight: 500;
        font-size: 7em;
    }

    #text2 {
        font-weight: 500;
        font-size: 1.5em;
    }
}

@media (max-width: 768px){
    .container1 .card1 {
        max-width: 300px;
        flex-direction: column;
        height: auto;
        margin-right: 80%;
    }

    .container1 .card1 .imgBx{
        position: relative;
        width: 100%;
        height: 200px;
        left: 0;
        color: rgba(0, 0, 0, 0);
    }

    .container1 .card1:hover .imgBx{
        width: 100%;
        height: 200px;
        left: 0;
    }

    .container1 .card1 .content .imgBx img {
        max-width: 100px;
    }

    .container1 .card1 .content1{
        position: relative;
        width: 100%;

    }

    .container1 .card1 .content1 p {
        margin-top: 0px;
    }
    
    .logo{
        width: 0px;
    }

    #text, #text2{
        margin-right: 0;
        text-align: center;
    }

    .btcon, .textcol, .contCard{
        justify-content: center;
    }
    .parallax{
        width: 100%!important;
    }

  
}

.parallax {
    height: 1080px;
    width: 100vw;
    background: url("media/Banner1.jpg");
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;

}

.parallax h1{
    font-size: 3em;
    text-align: center;
    vertical-align: middle;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .5s;
}

nav .logo1{
    float: left;
}

nav .logo1 img {
    height: 80px;
    border-radius: 50%;
    transition: .5s;
}

nav ul {

    position: relative;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
    transition: .5;
}

nav ul li{

    list-style: none;
}

nav ul li a {
    position: relative;
    display: block;
    padding: 10px 20px;
    margin: 20px 0;
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    transition: .5s;
}

nav ul li a:hover,
nav ul li a.active{
     background: rgb(80, 80, 80);
     color: white;
}

nav.black{
    background: rgba(0, 0, 0);
}

.toggle{

    display: none;
    position: absolute;
    right: 10px;
    top: 26px;
    color: white;
    padding: 5px;
    cursor: pointer;
    font-size: 24px;
}