@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("media/bg2.png");
    background-size: fill;
    --title-load-time: 800ms;
    overflow: hidden;
}

#text {
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 12em;
    line-height: 0.9em;
    letter-spacing: 2px;
    text-align: center;
}

#text2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    font-size: 2em;
    line-height: 0.9em;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 150px;
}

.btn {
    position: relative;
    display: block;
    color: white !important;
    font-size: 20px !important;
    text-decoration: none;
    margin: 30px 0 !important;
    border: 2px solid #ffffff !important;
    padding: 14px 50px !important;
    text-transform: uppercase;
    overflow: hidden;
    transform: 1s all ease !important;
}

.btn::before {
    background: #ffffff !important;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.6s ease;
}

.btn1::before {
    width: 0;
    height: 100%;
}

.btn1:hover {
    color: rgb(0, 0, 0) !important;
}

.btn:hover::before {
    width: 100%;
}



@media (max-width: 800px) {
    #text {
        font-weight: 500;
        font-size: 7em;
    }

    #text2 {
        font-weight: 500;
        font-size: 1.5em;
    }
}

