.cnt1 {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: white;
  display: flex;
}

.textcol {
  float: left;
  width: 50%;
  height: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 2;
}

.reveal {
  background: var(--logo-bg, url("/media/Logo.jpeg"));
  width: 50%;
  height: 100vh;
  background-size: 100%;
  float: right;
  position: relative;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
}

#text {
  position: relative;
  color: #fff;
  font-weight: 600;
  font-size: 9em;
  line-height: 0.9em;
  letter-spacing: 2px;
  color: black;
}

#text2 {
  position: relative;
  color: #fff;
  font-weight: 500;
  font-size: 3em;
  line-height: 0.9em;
  letter-spacing: 2px;
  text-align: left;
  margin-top: 150px;
  margin-bottom: 150px;
  color: black;
}

.tbn {
  position: relative;
  display: block;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: 'Recursive', sans-serif;
  text-decoration: none;
  margin: 30px 0;
  border: 2px solid rgb(0, 0, 0);
  padding: 14px 60px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}

.tbn::before {
  background: rgb(0, 0, 0) !important;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.tbn1:hover {
  color: rgb(255, 255, 255) !important;
}

.tbn1::before {
  width: 0;
  height: 100%;
}

.tbn1:hover::before {
  width: 100%;
}

.loading-screen {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background: var(--bg1-bg, url("/media/bg1.png"));
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.btcon {
  width: 214px;
}

.load-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  pointer-events: none;
}

@media (max-height: 1080px) {
  #text2 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media (max-width: 1400px) {
  .cnt1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 0px !important;
  }

  .reveal {
    background-repeat: no-repeat;
  }

  #text2 p {
    font-size: 2.5rem;
  }
}

@media (max-width: 1080px) {
  #text p {
    font-size: 4rem;
  }

  #text2 p {
    font-size: 2rem;
  }
}

@media (max-width: 992px) {
  .textcol {
    margin-right: 0px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    background: none;
    background-color: black;
  }

  .cnt1 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #text p,
  #text2 p {
    text-align: center !important;
    flex-direction: column;
    color: white;
  }

  #text p {
    font-size: 3rem;
  }

  #text2 p {
    font-size: 1.5rem;
  }

  .cnt2 {
    display: flex;
    justify-content: center;
    width: 100vw;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .reveal {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: var(--logo2-bg, url("/media/logo2.jpeg"));
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
    background-position: center;
  }

  .tbn {
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
  }

  .tbn::before {
    background: rgb(255, 255, 255) !important;
  }

  .tbn1:hover {
    color: rgb(0, 0, 0) !important;
  }
}
