.parallax {
  background: var(--banner1-bg, url("/media/Banner1.jpg"));
  background-position: bottom;
  background-attachment: fixed;
}

.parallax2 {
  background: var(--banner2-bg, url("/media/Banner2.jpg"));
  background-position: top;
  background-attachment: fixed;
}

.parallax3 {
  background: var(--banner3-bg, url("/media/Banner3.jpg"));
  background-position: left;
  background-attachment: fixed;
}

.parallax4 {
  background: var(--banner4-bg, url("/media/Banner4.jpg"));
  background-attachment: fixed;
}

.parallax,
.parallax2,
.parallax3,
.parallax4 {
  height: 1080px;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.parallax::before,
.parallax2::before,
.parallax3::before,
.parallax4::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.parallax h1,
.parallax2 h1,
.parallax3 h1,
.parallax4 h1 {
  font-size: 10rem;
  text-align: center;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  z-index: 2;
  position: relative;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.secCont {
  display: flex;
  margin-top: 50px;
  align-items: center;
  width: 100vw;
  flex-direction: column;
  min-height: 50vh;
  padding-bottom: 100px;
}

@media (max-width: 768px) {
  .parallax,
  .parallax2,
  .parallax3,
  .parallax4 {
    width: 100% !important;
    height: 60vh;
    background-attachment: scroll;
  }

  .parallax h1,
  .parallax2 h1,
  .parallax3 h1,
  .parallax4 h1 {
    font-size: 3rem;
  }
}
