* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Recursive', sans-serif;
  background: #000;
  color: #fff;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

#root {
  width: 100%;
  min-height: 100vh;
}
